<layout name="layout"/>
<div class="main-div">
    <form method="post" action="__SELF__"enctype="multipart/form-data" >
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">分类名称</td>
                <td>
                    <input type="text" name="cat_name" maxlength="60" value="" />
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">父级分类:</td>
                <td>
                    <select name="parent_id">
                        <option value="0">请选择</option>
                        <foreach name="cats" item="v">
                            <option value="<{$v['cat_id']}>"><{:str_repeat('-',4*$v['level']);}><{$v['cat_name']}></option>
                        </foreach>
                    </select>
                    <span class="require-field">*</span>
                </td>
            </tr>


            <tr>
                <td colspan="2" align="center"><br />
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
