<layout name="layout"/>
<div class="main-div">
    <form method="post" action="__SELF__"enctype="multipart/form-data" >
        <table cellspacing="1" cellpadding="3" width="100%">
            <tr>
                <td class="label">等级名称</td>
                <td>
                    <input type="text" name="level_name" maxlength="60" value="" />
                    <span class="require-field">*</span>
                </td>
            </tr>
            <tr>
                <td class="label">积分下限</td>
                <td>
                    <input type="text" name="jifen_bottom" maxlength="60" size="40" value="" />
                </td>
            </tr>
            <tr>
                <td class="label">积分上限</td>
                <td>
                    <input type="text" name="jifen_top" maxlength="60" size="40" value="" />
                </td>
            </tr>
            <tr>
                <td colspan="2" align="center"><br />
                    <input type="submit" class="button" value=" 确定 " />
                    <input type="reset" class="button" value=" 重置 " />
                </td>
            </tr>
        </table>
    </form>
</div>
