<layout name="layout"/>
<style>
    #old_pic li{
        list-style: none;
        float: left;
        margin: 45px;
        width: 200px;
        height: 200px;
    }
    #old_pic li img{
        width: 180px;
        height: 180px;
    }
</style>
<div class="tab-div">
    <div id="tabbar-div">
        <p>
            <span class="tab-front">通用信息</span>
            <span class="tab-back" >会员价格</span>
            <span class="tab-back" >商品描述</span>
            <span class="tab-back" >商品属性</span>
            <span class="tab-back" >商品相册</span>
        </p>
    </div>
    <div id="tabbody-div">
        <form enctype="multipart/form-data" action="__SELF__" method="post">
        	<input type="hidden" name="id" value="<?php echo $data['id']; ?>" />
            <table width="90%" class="tab_table" align="center">
                <tr>
                    <td class="label">商品名称：</td>
                    <td><input type="text" name="goods_name" size="60" value="<{$data['goods_name']}>" />
                    <span class="require-field">*</span></td>
                </tr>
                <tr>
                    <td class="label">主分类：</td>
                    <td>
                        <select name="cat_id">
                            <option value="0">请选择</option>
                            <foreach name="cats" item="v">
                                <option value="<{$v.cat_id}>" <if condition="$data['cat_id'] eq $v['cat_id']"> selected=selected</if> ><{:str_repeat('-',4*$v['level'])}><{$v.cat_name}></option>
                            </foreach>
                        </select>
                    </td>
                </tr>
                <tr>
                    <td class="label">扩展分类：<input type="button" id="e_cat_bt" value="添加扩展"/></td>
                    <td>
                        <ul id="e_cat_name">
                            <if condition="$gc_list">
                            <foreach name="gc_list" item="gc">
                            <li style="float: left;list-style: none;margin:2px">
                                <select  name="e_cat_id[]" >
                                    <option value="0">请选择</option>
                                    <foreach name="cats" item="v">
                                        <option value="<{$v.cat_id}>" <if condition="$v['cat_id'] eq $gc['cat_id']">selected=selected</if> > <{:str_repeat('-',4*$v['level'])}> <{$v.cat_name}></option>
                                    </foreach>
                                </select>
                            </li>
                            </foreach>
                                <else />
                                <li style="float: left;list-style: none;margin:2px">
                                    <select  name="e_cat_id[]" >
                                        <option value="0">请选择</option>
                                        <foreach name="cats" item="v">
                                            <option value="<{$v.cat_id}>"><{:str_repeat('-',4*$v['level'])}> <{$v.cat_name}></option>
                                        </foreach>
                                    </select>
                                </li>
                            </if>
                        </ul>
                    </td>
                </tr>
                <tr>
                    <td class="label">品牌名称：</td>
                    <td>
                        <select name="brand_id">
                                <option value="">请选择</option>
                            <foreach name="list" item="v">
                                <option value="<{$v.brand_id}>" <if condition="$data['brand_id'] eq $v['brand_id']"> selected=selected</if> ><{$v.brand_name}></option>
                            </foreach>
                        </select>
                    </td>
                </tr>
                <tr>

                    <td class="label">LOGO： <img src="__PUBLIC__/Uploads/<{$data['m_logo']}>"/></td>
                    <td>
                    <input type="file" name="logo" size="60" /></td>
                </tr>
                <tr>
                    <td class="label">市场售价：</td>
                    <td>
                        <input type="text" name="market_price" value="<{$data['market_price']}>" size="18" />
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">本店售价：</td>
                    <td>
                        <input type="text" name="shop_price" value="<{$data['shop_price']}>" size="18"/>
                        <span class="require-field">*</span>
                    </td>
                </tr>
                <tr>
                    <td class="label">是否上架：</td>
                    <td>
                        <input type="radio" name="is_on_sale" value="是" <if condition="$data['is_on_sale']=='是'"> checked=checked</if> /> 是
                        <input type="radio" name="is_on_sale" value="否" <if condition="$data['is_on_sale']=='否'"> checked=checked</if> /> 否
                    </td>
                </tr>
            </table>
            <table width="90%" class="tab_table" align="center" style="display: none;">
                <foreach name="m_list" item="v" key="k">
                <tr>
                    <td class="label"><{$v.level_name}>：￥</td>
                    <td>
                        <input type="text" name="member_price[<{$v.level_id}>]"   value="<{$mp_data[$v['level_id']]}>" size="15"/>
                    </td>
                </tr>
                </foreach>
            </table>
            <table width="90%" class="tab_table" align="center" style="display: none;">
                <tr>
                    <td class="label">商品描述：</td>
                    <td>
                        <textarea id="goods_desc" name="goods_desc"><{$data['goods_desc']}></textarea>
                    </td>
                </tr>
            </table>
            <table width="90%" class="tab_table" align="center" style="display: none;">
                <tr><td>商品属性</td></tr>
            </table>
            <table width="90%" class="tab_table" align="center" style="display: none;">
                <tr><td>
                    <input id="i_pic_bt" type="button" value="添加图片"/>
                    <ul id="new_pic"></ul>
                    <ul id="old_pic">
                        <foreach name="gp_list" item="v">
                            <li>
                                <input class="del_pic_bt" type="button" pic_id="<{$v['pic_id']}>" value="删除"/>
                                <img src="__PUBLIC__/Uploads/<{$v['m_pic']}>"/>
                            </li>
                        </foreach>
                    </ul>
                </td></tr>
            </table>
            <div class="button-div">
                <input type="hidden" name="id" value="<{$data['id']}>" size="20"/>
                <input type="submit" value=" 确定 " class="button"/>
                <input type="reset" value=" 重置 " class="button" />
            </div>
        </form>
    </div>
</div>
<script type="text/javascript">
    $("#tabbar-div p span").click(function(){
        var i=$(this).index();
        $(".tab-front").removeClass("tab-front").addClass("tab-back");
        $(this).removeClass("tab-back").addClass("tab-front");
        $(".tab_table").hide().eq(i).show();
    });

    $("#i_pic_bt").click(function () {
        var i="<li><input type='file' name='pic[]'></li>";
        $("#new_pic").append(i);
    });


    $(".del_pic_bt").click(function(){
        var pic_id=$(this).attr('pic_id');
        var url="<{:U('ajaxDelete','',false)}>/pic_id/"+pic_id;
        var li=$(this).parent();
        if(confirm("你确认删除该图片?")){
            $.ajax({
                url: url,
                success:function(){
                  li.remove();
                }
            })
        }
    })

    $("#e_cat_bt").click(function () {
        var i=$('#e_cat_name').find('li').eq(0).clone();
        $(i).eq(0).find("option").eq(0).attr('selected','selected');
        $('#e_cat_name').append(i);
    })
</script>
























