
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>ECSHOP 管理中心- <{$title_name}> </title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link href="__PUBLIC__/Admin/Styles/general.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/Styles/main.css" rel="stylesheet" type="text/css" />
    <link href="__PUBLIC__/Admin/Styles/page.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/Admin/Js/jquery-3.1.1.min.js"></script>
</head>
<body>
<h1>
    <span class="action-span"><a href="<{:U('list')}>"><{$list_name}></a>
    </span>
    <span class="action-span1"><a href="<{:U('Index/index')}>">ECSHOP 管理中心&nbsp;</a></span>
    <span id="search_id" class="action-span1" style="border: 1px solid red;background: yellowgreen"><a href="<{:U('add')}>">&nbsp;<{$add_name}></a></span>
    <div style="clear:both"><{$title_name}></div>
</h1>

{__CONTENT__}

<div id="footer">
    Merlin
</div>
</body>
</html>